* { box-sizing: border-box; }
html { font-size: 13px; }
body { padding: 0; margin: 0; }

ul { list-style: none; }

.chat { width: 400px; margin: 100px auto; }
.chat .contents { border: 1px solid #212121; height: 400px; overflow-y: auto; background-color: #f8f8f8; border-radius: 5px; }
.chat input[type='text'] { border: 1px solid #212121; height: 40px; border-radius: 5px; padding: 0 10px; width: 100%; }

